@charset "UTF8";

@media (max-width: 560px){
    #container_pai{
        width: 95%;
    }
    .opt{
        width: 100%;
    }
    .opt2{
        width: 100%;
    }

    #selects_container2{
        width: 100%;
        
    }
}