@charset "UTF8";

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    margin: 0px;
    padding: 0px;
    /* background-color: #1e1e2f; */
    background-image: url(imagens/background.png);
    background-size: 100% 101%;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    width: 100vw;
}

header > picture > img {
    display: block;
    width: 300px;
    margin: auto;
    margin-top: 10px;
}

main {
    padding: 20px;
}

h1 {
    font-size: 28px;
    margin: 0px;
}

h2{
    overflow-wrap: break-word;
    max-width: 230px;
    background-image: linear-gradient(45deg, #084353, #007081, #0094a3);
    font-size: 17px;
    border: 1px solid #00867c;
    border-radius: 10px;
    padding: 7px;
    margin: 0px;
}

hr {
    height: 1px;
    border: 0px solid transparent;
    background-color: #6b728e;
    box-shadow: 0px 0px 3px 1px #6b728e;
}

main > h1 {
    text-align: center;
    font-size: 40px;
    color: #f4b41a;
}

main > p {
    font-family: Arial, Helvetica, sans-serif;
    color: #dadada;
    text-align: center;
    white-space: pre-line;
    margin: 10px;
}

p {
    margin: 0px;
}

button {
    background-color: #008080;
    border-radius: 5px;
    margin: 0px 5px 0px 5px;
    border: 3px solid #005757;
    color: #ffffff;
    font-weight: bold;
    height: 30px;
}

button:hover {
    background-color: #006666;
}

footer {
    text-align: center;
    color: #e0e0e0;
    height: 30px;
    width: 100vw;
}

#Modal{
    display: none;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #066358;
    box-shadow: inset 0px 0px 8px 5px black;
    background-color: #1a1f38;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
}

#fechar_modal{
    border-radius: 0px;
    margin-bottom: 3px;
    align-self: flex-end;
    padding: 0px;
    height: 21px;
    width: 22px;
}

#modal_filho{
    display: flex;
    flex-flow: nowrap row;
    background-color: #202747;
    margin: 2px;
    border-radius: 10px;
}

#categoria,#nota{
    display: flex;
    flex-flow: nowrap column;
    margin: 20px;
}

#nota_modal > h2{
    margin: 0px;
}

#nota{
    color: #fffb00; 
}

#categoria{
    color: #edfffd;
}

#container_pai {
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.4);
    color: #f4f4f4;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #6b728e;
    width: 500px;
    margin: auto;
    background-color: #2d3142;
}

.opt2 {
    width: 100%;
    background-image: linear-gradient(45deg, #009688, #33c1a7, #00796b);
    border: 1px solid #00867c;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;
}

.opt {
    width: 100%;
    color: #e5e5e5;
    background-color: #3e4359;
    border: 1px solid #6b728e;
    border-radius: 5px;
}

#selects_1, #selects_2 {
    display: flex;
    flex-flow: nowrap column;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    /* background-color: #1e2235; */
}

#selects_container {
    display: flex;
    flex-flow: nowrap column;
}

#selects_container > input {
    width: 40%;
    margin: auto;
}

#selects_container > label {
    margin: auto;
    font-size: 22px;
}

#selects_container2 {
    display: flex;
    flex-flow: nowrap row;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 80%;
    border: 1px solid #f4b41a;
    background-color: #1e2235;
    box-shadow: 0px 0px 12px #f4b41a;
}

#resultados {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#display_pontuacao {
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    height: 64px;
    width: 300px;
    color: #fff;
    background-image: linear-gradient(45deg, #6b728e, #3e4359);
    border: 1px solid #f4b41a;
}

#display_pontuacao > p {
    overflow-x: auto;
    white-space: nowrap;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    color: #f4b41a;
}

::-webkit-scrollbar {
    height: 8px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #252839;
}

::-webkit-scrollbar-thumb {
    background: #f4b41a;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d99a15;
}

#span1 {
    font-size: 15px;
    color: #dadada;
}
